<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
        <title>Contact</title>
        <meta name="author" content="Mia C. Bracken">
        <meta name="description" content="A page to contact artist.">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>

      
        <div>Inquiries and Comments</div>

        <form id="contact-form-button" class="needs-validation">
          <div class="row">
            <div class="col">
              <input id="first-name" type="text" class="form-control" placeholder="First name" aria-label="First name" required>
            </div>
            <div class="col">
              <input id="last-name" type="text" class="form-control" placeholder="Last name" aria-label="Last name" required>
            </div>
          </div>
          <div class="mb-3">
            <input id="mail" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email address" aria-describedby="emailHelp" required>
            <div id="emailFeedback" class="invalid-feedback">
              EX: example@example.com
            </div>
          </div>
          <div class="mb-4">
            <textarea class="form-control" id="msg" placeholder="Message" rows="4"></textarea>
          </div>
          
          </div>
          <button id="send-form" type="submit" class="btn btn-primary">Submit Form</button>
        </form>

        <div class="container-fluid">
          <%- include('footer'); %>
        </div>

        <!-- <form action="/mail" method="post">
            <p>
              <label for="name">Name:</label>
              <input type="text" id="name" name="user_name" />
            </p>
            <p>
              <label for="mail">Email:</label>
              <input type="email" id="mail" name="user_email" />
            </p>
            <p>
              <label for="msg">Message:</label>
              <textarea id="msg" name="user_message"></textarea>
            </p>
            <p class="button">
                <button id="contact-form-button" type="submit">Send your message</button>
              </p>
          </form> -->

          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script type="module" src="./js/index.js"></script>


        <script type="module" src="./js/contact.js"></script>
    </body>
</html>