<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <img class="me-auto" src="./images/favicon.ico" height="45" role="img" alt="">
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/projects" class="nav-link">Features</a></li>
        <li class="nav-item"><a href="/project" class="nav-link">Project</a></li>
        <li class="nav-item"><a href="/#about" class="nav-link">Artist</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
        <!-- <li class="nav-item"><a href="/connect" class="nav-link">Connect Wallet</a></li>
      </ul> -->
      <div>
        <button id="wallet-connect" type="button" class="btn btn-outline- light">Connect Wallet</button>
      </div>
    </header>
  </div>