<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
        <title>Personal NFT Mint B</title>
        <meta name="author" content="Mia C. Bracken">
        <meta name="description" content="A personal NFT mint for an artist">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="./css/style.css">

        
    </head>
    <body>

      <header>
        <%- include('header'); %>
      </header>

          <div id="splash" class="area">
            <div class="spacer"></div>
            <div id="hero-text" class="position-absolute top-50 start-50 translate-middle text-light text-center">
              <h1 class="display-1">Mia Bracken</h1>
              <h2>Visual Artist</h2>
              <p>Generative Art</p>
            </div>
          </div>


        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script type="module" src="./js/index.js"></script>

        <!-- SHOW FEATURE -->
        <div class="px-4 pt-5 my-5 text-center border-bottom">
            <h1 class="display-4 fw-bold text-body-emphasis">Feature</h1>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">Processing images.</p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <!-- <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Project</button> -->

                <div><a href="/project"><button id="project-button" type="button"
                  class="m-2 btn btn-outline-light">Go to this
                  project</button></a></div>
            <div><a href="/projects"><button id="proejcts-button" type="button"
                  class="m-2 btn btn-outline-light">See all
                  projects</button></a></div>

    
                <!-- <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Projects</button> -->
              </div>
            </div>
            <div class="overflow-hidden" style="max-height: 70vh;">
              <div class="container px-5">
                <div>Name: Suns</div>
                <img src="./images/Sun.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="3 sun image" width="700" height="900" loading="3sun">
              </div>
            </div>
          </div>

          <!-- ABOUT ME -->
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="./images/IMG_travel.jpeg" class="img-fluid" alt="IMG_travel" width="790" height="500" loading="IMG_traval.jpeg">
              </div>
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">About the Artist</h1>
                <p class="lead">An aspiring ceramist and developer who enjoys traveling. </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  <div><a href="/contact"><button id="contact-form-button" type="button"
                    class="m-2 btn btn-outline-light">Contact Me</button></a></div>
                </div>
              </div>
            </div>
          </div>

          <!-- <img src="./images/Sun.png" alt=" Processing sun image" width="200" height="195">  -->

          <!-- FOOTER -->
          <div class="container">
            <%- include('footer'); %>
          </div>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script type="module" src="./js/index.js"></script>

    </body>


</html>


