<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
        <title>Project</title>
        <meta name="author" content="Mia C. Bracken">
        <meta name="description" content="A page for one project.">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div>Project</div>

    </div>
    <div class="container-fluid">
      <%- include('footer'); %>
    </div>
        <!-- <button id="project-button" class="btn btn-primary">Project</button> -->

        <script type="module" src="./js/index.js"></script>



    </body>
</html>